<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title class="crassoft-logo">
      <h4>
        <a href="https://crassoft.com" target="_blank"><img src="assets/icons/icon-128x128.png"></a>
        Favoritos
      </h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="no-favorites" *ngIf="localDataService.favorites.length === 0">
    <h4>No hay favoritos</h4>
  </div>

  <app-news *ngIf="localDataService.favorites.length > 0" [news]="localDataService.favorites" [favoritePage]="true"></app-news>
</ion-content>
