<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title class="crassoft-logo">
      <h4>
        <a href="https://crassoft.com" target="_blank"><img src="assets/icons/icon-128x128.png"></a>
        CrasSoft Noticias
      </h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="25%"
                        (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
